<div class="container-fluid">
    <app-header></app-header>
</div>
<div class="container mt-5 mb-5 bg-secondary">
    <div class="row pt-3 mt-3 mb-3 my-row">
        <div class="col align-self-center">
            <app-rates></app-rates>
        </div>
    </div>
    <div class="row mt-3 mb-3 my-row justify-content-center">
        <div class="col-5 pb-3 pt-3 my-col align-self-center">
            <app-masukan (set_toko_idr)="set_data_idr($event)"></app-masukan>
        </div>
    </div>
    <div class="row  mt-3 mb-3 pt-3 pb-3 my-row">
        <div class="col-6">
            <div *ngFor="let item of idr" class="col my-col">
                    Produk : Rp.{{item.item}} <br> Harga : Rp.{{item.harga}} <br> Nilai : Rp.{{item.nilai}} <br> <a [attr.href]="item.link">Link</a>  
            </div>
        </div>
        <div class="col-6">
            <div *ngFor="let item of usd" class="col my-col">
                    Produk : ${{item.item}}  <br> Harga : Rp.{{item.harga}} <br> Nilai : Rp.{{item.nilai}} <br> <a [attr.href]="item.link">Link</a> 
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
